<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectTổng"
        tools:targetApi="31">

        <!-- SignIn là màn hình đầu tiên khởi chạy -->
        <activity
            android:name=".activity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignUp sẽ quay về SignIn -->
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".activity.SignInActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignInActivity" />
        </activity>

        <!-- MainActivity: chỉ vào sau khi đăng nhập -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.CategoryActivity"
            android:exported="false" />

        <activity
            android:name=".activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProductActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FoodDetailActivity"
            android:exported="false" />
        <!-- Admin dashboard -->
        <activity
            android:name=".activity.AdminDashboardActivity"
            android:exported="false" />

        <!-- Quản lý người dùng -->
        <activity
            android:name=".activity.ManageUsersActivity"
            android:exported="false" />

        <!-- Quản lý món ăn -->
        <activity
            android:name=".activity.ManageFoodsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HelpCenterActivity"
            android:exported="false" />

    </application>

</manifest>
