<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Add more permissions here if needed
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectTổng"
        tools:targetApi="31">

        <!-- SignIn is the launcher activity -->
        <activity
            android:name=".activity.auth.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignUp returns to SignIn -->
        <activity
            android:name=".activity.auth.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".activity.auth.SignInActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.auth.SignInActivity" />
        </activity>

        <!-- MainActivity: after login -->
        <activity android:name=".activity.MainActivity" android:exported="false" />
        <activity android:name=".activity.ui.HomeActivity" android:exported="false" />
        <activity android:name=".activity.ui.CategoryActivity" android:exported="false" />
        <activity android:name=".activity.ui.OrderZaloPayActivity" android:exported="false" />
        <activity android:name=".activity.ui.OrderActivity" android:exported="false" />
        <activity android:name=".activity.ui.ProductActivity" android:exported="false" />
        <activity android:name=".activity.ui.ShoppingCartActivity" android:exported="false" />
        <activity android:name=".activity.ui.UserProfileActivity" android:exported="false" />
        <activity android:name=".activity.ui.FavoriteActivity" android:exported="false" />
        <activity android:name=".activity.ui.FoodDetailActivity" android:exported="false" />

        <!-- Admin dashboard -->
        <activity android:name=".activity.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".activity.admin.ManageUsersActivity" android:exported="false" />
        <activity android:name=".activity.admin.ManageFoodsActivity" android:exported="false" />
        <activity android:name=".activity.admin.AddFoodActivity" android:exported="false" />
        <activity android:name=".activity.admin.EditFoodActivity" android:exported="false" />
        <activity android:name=".activity.ui.EditProfileActivity" android:exported="false" />
        <activity android:name=".activity.ui.NotificationSettingActivity" android:exported="false" />
        <activity android:name=".activity.sp.HelpCenterActivity" android:exported="false" />
        <!-- Chatbox AI -->
        <activity android:name=".activity.sp.ChatActivity" android:exported="false" />
        <activity android:name=".activity.ui.ChefFoodsActivity" android:exported="false" />

    </application>
</manifest>